header{
    grid-area: cabe;
    border: 2px red solid;
    position: relative;
    padding: 10px;
}
aside{
    grid-area: brac;
    border: 2px blue solid;
}
main{
    grid-area: prin;
    border: 2px pink 2px solid;
}

p{
    border: green 2px solid;
}
footer{
    grid-area: roda;
    border: yellowgreen 2px solid; 
}

body{
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "brac prin prin"
    "roda roda roda";
    grid-template-rows: 200px auto 210px;
    grid-template-columns: 200px auto auto;
}
header img{
    height: 190px;
    width: auto;
}
header nav{
    border: brown 2px solid;
    position: absolute;
    right: 0px;
    top: 100px;
}

header li{
    display: inline;
    margin: 20px;
}

header a{
    border: 2px black solid;
    margin: 5px;
    border-radius: 25px;
}

.cbody{
    background-image: linear-gradient(45deg, red, orange, yellow, green, lightblue, blue, purple);
    color: #990000;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: bold;
}

.letra_normal label{
    font-weight: 100;
}

.bloco label{
    display: block;
}
.bloco{
    float: left;
    margin-right: 5px;
}

input, select, textarea, button{
    border-radius: 5px;
    color: #b31415;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.letra_normal input{
    box-shadow: none;
}

fieldset{
    border: 0;
}